* {
  margin: 0;
  padding: 0; }

body {
  background-color: #F0E7D8; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 25px; }

#animacion {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  /* Aplicar animacion */
  animation: desplazar;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }

@keyframes desplazar {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(2000px); } }

/* Mapas */
/* Extends */
.index_subtitles, .nosotros_subtitles, .ubi_principal .ubi_title, #tuterreno_sub {
  color: #19323C;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold; }

/* Mixin */
/* Index_Flex */
.index_inicio {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.index_container {
  display: flex; }

/* Ubicacion_Flex */
.ubi_principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* Tuterreno_FLex */
.tuterreno_flex {
  display: flex;
  align-items: center; }

/* Contacto_FLex */
.contacto_main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

/* Nosotros CSS Grid */
.nosotros_principal {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: "n_header n_header" "n_main n_main" "n_sub n_sub" "n_seccion1 n_seccion2" "n_footer n_footer";
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0; }
  .nosotros_principal .nosotros_cabeza {
    grid-area: n_header; }
  .nosotros_principal .nosotros_main {
    grid-area: n_main;
    text-align: center; }
  .nosotros_principal .nosotros_sub {
    grid-area: n_sub; }
  .nosotros_principal .nosotros_seccion1 {
    grid-area: n_seccion1;
    text-align: center; }
  .nosotros_principal .nosotros_seccion2 {
    grid-area: n_seccion2;
    text-align: center; }
  .nosotros_principal .nosotros_footer {
    grid-area: n_footer; }

.index_subtitles {
  font-size: 40px;
  text-align: center; }

.nosotros_subtitles {
  font-size: 40px; }

header #offcanvasNavbarLabel {
  color: white; }

/* Index CSS */
.index_principal #imagen_principal {
  width: 100%;
  margin-top: 50px; }

.index_principal #parrafo1 {
  text-align: center; }

.index_principal #parrafo2 {
  width: 40%;
  text-align: center; }

.index_principal #subtitulo {
  margin-top: 40px;
  margin-bottom: 20px; }

.index_principal #subtitulo1 {
  margin: 20px; }

/* Nosotros CSS */
.nosotros_main .nosotros_carrusel {
  display: block;
  margin: auto;
  width: 50%; }

.nosotros_main #nosotros_parrafo {
  margin: 10px; }

/* Ubicaion CSS */
.ubi_principal {
  margin-top: 100px; }
  .ubi_principal .ubi_frame {
    width: 50%; }
    .ubi_principal .ubi_frame #ubicacion_mapa {
      width: 100%;
      height: 450px; }
  .ubi_principal .ubi_title {
    font-size: 40px; }
  .ubi_principal #ubi_parrafo1 {
    width: 600px; }

/* Tuterreno CSS */
#tuterreno_titulo {
  margin-top: 80px; }

#tuterreno_sub {
  font-size: 30px; }

/* Contacto CSS */
.contacto_main #contacto_video {
  margin: 100px; }

.contacto_main #contacto_formulario {
  margin: 15px;
  width: 300px; }
  .contacto_main #contacto_formulario fieldset legend {
    text-align: center;
    width: 100%;
    margin: 30px; }
  .contacto_main #contacto_formulario fieldset .formulario_textbox {
    font-weight: bold;
    text-align: center;
    margin: 40px;
    width: 300px; }
  .contacto_main #contacto_formulario fieldset .botones {
    text-align: center; }

/* Index_Sections */
.index_inicio {
  margin: 40px; }
  .index_inicio #parrafo2 {
    width: 40%; }

.index_info .index_container {
  background-color: black;
  color: white;
  margin-top: 40px;
  text-transform: uppercase; }
  .index_info .index_container .index_contenido {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left: 40px; }
    .index_info .index_container .index_contenido .imagen_secundaria {
      width: 95%;
      margin-bottom: 15px; }

.index_info #subtitulo1 {
  margin: 20px; }

.index_info #parrafo3 {
  margin-inline: 100px;
  text-align: center; }

.index_info #index_bb {
  font-size: 20px;
  text-align: center; }

.index_final {
  text-align: center; }

/* Nosotros_Sections */
.section_sub {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 25px; }

.section_img {
  width: 90%; }

/* Contacto_Sections */
.contacto_section .contacto {
  color: #19323C;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center; }

footer {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 15px; }

/* media queries celulares */
@media screen and (max-width: 767px) and (min-width: 375px) {
  /* TODO Media */
  p {
    font-size: 15px; }
  footer .pie {
    font-size: 10px; }
  /* Index Media */
  .index_principal .index_subtitles {
    font-size: 20px; }
  .index_inicio {
    flex-wrap: wrap;
    margin: 5px; }
    .index_inicio #video_principal {
      height: 205px;
      margin-top: 40px; }
    .index_inicio #parrafo2 {
      width: 100%;
      margin-top: 40px;
      text-align: center; }
  .index_info .index_subtitles {
    font-size: 20px; }
  .index_info #parrafo3 {
    margin: 20px; }
  .index_info .index_container {
    flex-wrap: wrap;
    text-align: center; }
    .index_info .index_container .index_contenido {
      margin-left: 0; }
      .index_info .index_container .index_contenido .index_sb {
        font-size: 20px;
        margin-top: 20px; }
      .index_info .index_container .index_contenido .index_tx {
        font-size: 15px; }
      .index_info .index_container .index_contenido .imagen_secundaria {
        width: 80%;
        margin: 20px; }
  .index_info #index_bb {
    margin-bottom: 20px;
    font-size: 10px; }
  .index_final .index_subtitles {
    font-size: 20px; }
  #animacion {
    top: 60px;
    font-size: 10px;
    animation-duration: 6s; }
  @keyframes desplazar {
    from {
      transform: translateX(0); }
    to {
      transform: translateX(500px); } }
  /* Nosotros Media */
  .nosotros_principal {
    align-content: start;
    grid-template-areas: "n_header n_header" "n_main n_main" "n_sub n_sub" "n_seccion1 n_seccion1" "n_seccion2 n_seccion2" "n_footer n_footer";
    grid-template-rows: 40px 1fr 1fr 1fr 1fr;
    grid-template-columns: 10px;
    grid-row-gap: 10px; }
    .nosotros_principal .nosotros_main .nosotros_carrusel {
      width: 100%; }
    .nosotros_principal .nosotros_main .nosotros_subtitles {
      font-size: 30px; }
    .nosotros_principal .nosotros_sub .nosotros_subtitles {
      font-size: 30px; }
    .nosotros_principal .nosotros_seccion1 .section_sub {
      font-size: 20px; }
    .nosotros_principal .nosotros_seccion2 .section_sub {
      font-size: 20px; }
  /* Ubicacion Media */
  .ubi_principal {
    flex-wrap: wrap; }
    .ubi_principal .ubi_frame {
      width: 100%; }
      .ubi_principal .ubi_frame .ubi_title {
        font-size: 20px;
        text-align: center; }
      .ubi_principal .ubi_frame #ubicacion_mapa {
        width: 100%;
        height: 300px; }
    .ubi_principal .ubi_tx #ubi_parrafo1 {
      width: 300px;
      text-align: center; }
    .ubi_principal .ubi_tx .ubi_title {
      font-size: 20px;
      text-align: center; }
  /* Contactanos Media */
  .contacto_main {
    flex-wrap: wrap;
    margin-top: 80px; }
    .contacto_main #contacto_video {
      height: 205px;
      margin-top: 40px;
      margin-bottom: 15px;
      margin-left: 5px;
      margin-right: 5px; }
  .contacto_section .contacto {
    font-size: 20px; } }

/* media queries tabletas */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* Index Media */
  .index_sb {
    font-size: 20px;
    margin-top: 20px; }
  .index_tx {
    font-size: 10px; }
  /* nosotros_media */
  .nosotros_main .nosotros_carrusel {
    width: 90%;
    margin-top: 20px; }
  /* ubicacion_media */
  .ubi_principal {
    flex-wrap: wrap; }
    .ubi_principal .ubi_frame {
      width: 80%; }
      .ubi_principal .ubi_frame #ubicacion_mapa {
        width: 90%;
        height: 300px;
        margin: 10px; }
  /* contacto_media */
  .contacto_main {
    flex-wrap: wrap; }
    .contacto_main #contacto_video {
      margin-top: 120px;
      margin-bottom: 10px; } }
