* {
  margin: 0;
  padding: 0; }

body {
  background-color: #F0E7D8; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 25px; }

#animacion {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  /* Aplicar animacion */
  animation: desplazar;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear; }

@keyframes desplazar {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(2000px); } }

/* Index_Flex */
.index_inicio {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.index_container {
  display: flex; }

.index_subtitles {
  color: #19323C;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center; }

/* Index CSS */
.index_principal #imagen_principal {
  width: 100%; }

.index_principal #parrafo1 {
  text-align: center; }

.index_principal #parrafo2 {
  width: 40%;
  text-align: center; }

.index_principal #subtitulo {
  margin-top: 40px;
  margin-bottom: 20px; }

.index_principal #subtitulo1 {
  margin: 20px; }

/* Index CSS */
.index_inicio {
  margin: 40px; }
  .index_inicio #parrafo2 {
    width: 40%; }

.index_info .index_container {
  background-color: black;
  color: white;
  margin-top: 40px;
  text-transform: uppercase; }
  .index_info .index_container .index_contenido {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left: 40px; }
    .index_info .index_container .index_contenido .imagen_secundaria {
      width: 95%;
      margin-bottom: 15px; }

.index_info #subtitulo1 {
  margin: 20px; }

.index_info #parrafo3 {
  margin-inline: 100px;
  text-align: center; }

.index_info #index_bb {
  font-size: 20px;
  text-align: center; }

.index_final {
  text-align: center; }

footer {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 15px; }
