* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0E7D8;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.index_subtitles{
    color: #19323C;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

@import "components/header";
@import "base/variables";
@import "components/footer";
@import "components/main";
@import "components/section.scss";
