/* Index CSS */
.index_principal {
    #imagen_principal{
        width: 100%;
        margin-top: 50px;
    }
    #parrafo1{
        text-align: center;
    }
    #parrafo2 {
        width: 40%;
        text-align: center;
    }
    #subtitulo{
        margin-top: $medida-principal;
        margin-bottom: $medida-secundaria;
    }
    #subtitulo1{
        margin: $medida-secundaria;
    }
}

/* Nosotros CSS */
.nosotros_main{
    .nosotros_carrusel{
        display: block;
        margin: auto;
        width: 50%;
    }
    #nosotros_parrafo{
        margin: 10px;
    }
}

/* Ubicaion CSS */
.ubi_principal{
    margin-top: 100px;
    .ubi_frame{
        width: 50%;
        #ubicacion_mapa{
            width: 100%;
            height: 450px;
        }
    }
    .ubi_title{
        @extend %subtitulos;
        font-size: 40px;
    }
    #ubi_parrafo1{
        width: 600px;
    }
}

/* Tuterreno CSS */
.tuterreno_fondo{
    background-image: url(../img/04R-CALLE1.jpg);
    margin-top: 80px;
    height: 800px;
    div{
        div{
            #tuterreno_titulo {
                margin-top: 80px;
            }
        }
    }
    .tuterreno_flex{
        div{
            #tuterreno_sub {
                @extend %subtitulos;
                @include sub(30px);
            }
        }
        div{
            #tuterreno_parrafo1 {
                .p_color {
                    color: black;
                }
            }
        }      
    }
}
.descargas{
    background-color: #F0E7D8;
}
/* Contacto CSS */
.contacto_main{
    #contacto_video{
        margin: 100px;
    }
    #contacto_formulario{
        margin: 15px;
        width: 300px;
        fieldset{
            legend{
                text-align: center;
                width: 100%;
                margin: 30px;
            }
            .formulario_textbox{
                font-weight: bold;
                text-align: center;
                margin: 40px;
                width: 300px;
            }
            .botones{
                text-align: center;
            }
        }
    }
}