/* Index CSS */
.index_inicio {
    margin: $medida-principal;
    #parrafo2{
        width: 40%;
    }
}

.index_info {
    .index_container{
        background-color: black;
        color: white;
        margin-top: $medida-principal;
        text-transform: uppercase;
        .index_contenido{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            margin-left: $medida-principal;
            .imagen_secundaria{
                width: 95%;
                margin-bottom: 15px;
            }
        }
    }
    #subtitulo1{
        margin: $medida-secundaria;
    }
    #parrafo3{
        margin-inline: 100px;
        text-align: center;
    }
    #index_bb{
        font-size: $medida-secundaria;
        text-align: center;
    }
}

.index_final {
    text-align: center;
}