section {
    .index_container{
        display: flex;
        background-color: black;
        color: white;
        margin-top: $medida-principal;
        text-align: start;
        text-transform: uppercase;
        .index_contenido{
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            font-size: $medida-principal;
            margin-left: $medida-principal;
            .imagen_secundaria{
                width: 95%;
            }
        }
    }
    #subtitulo1{
        margin: $medida-secundaria;
    }
    #parrafo3{
        margin-inline: 100px;
        text-align: center;
    }
    #index_bb{
        font-size: $medida-secundaria;
        text-align: center;
    }
}

.index_final {
    text-align: center;
}