#animacion{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    /* Aplicar animacion */
    animation: desplazar;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
@keyframes desplazar {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(2000px);
    }
}
/* Nosotros_Animación */
.section_img:hover{
    transform: scale(1.1);
}
.section_img{
    transition: 500ms;
}